$color__off-white: #efefef;
$color__white: #fefefe;
$color__light-grey: lighten(#969696, 25%);
$color__grey: #969696;
$color__charcoal: #3a3a3a;
$color__mid-grey: #696969;

$color__links: lighten($color__mid-grey, 10%);
$color__primary: $color__grey;
$color__secondary: $color__mid-grey;
$color__tertiary: $color__charcoal;

$color__background-body: $color__white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: $color__mid-grey;


$color__link: $color__links;
$color__link-visited: $color__links;
$color__link-hover: $color__primary;

$color__background-button: $color__charcoal;
$color__border-button: $color__off-white;
$color__text-button: $color__off-white;

$color__background-button-hover: $color__mid-grey;
$color__border-button-hover: $color__off-white;
$color__text-button-hover: $color__off-white;

$color__background-button-focus: $color__mid-grey;
$color__border-button-focus: $color__off-white;
$color__text-button-focus: $color__off-white;

$color__border-input: #ccc;
$color__border-abbr: #666;
