$color__pink: #f20079;
$color__baby-pink: #f5dfdf;
$color__grey: #efefef;
$color__charcoal: #3a3a3a;
$color__mid-grey: #696969;
$color__purple: #9961bb;
$color__teal: #59bab6;

$color__links: $color__pink;
$color__primary: $color__teal;
$color__secondary: $color__purple;
$color__tertiary: $color__charcoal;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__links;
$color__link-visited: $color__links;
$color__link-hover: $color__primary;
$color__text-main: $color__mid-grey;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
