/* Adapted from http://thesassway.com/intermediate/simple-grid-mixins */

@mixin row() {
  //font-size: 0;
}

@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
	display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

  @include tablet {
		margin-right: -4px; // To avoid whitespace; https://css-tricks.com/fighting-the-space-between-inline-block-elements/
    width: percentage($col/$sum);
    vertical-align: $align;
  }
}
