// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue) * 10px;
	font-size: $sizeValue * 1rem;
}

// Substitute in Lora for italic
@mixin font-italic {
	font-family: $font__italic;
	font-size: 110%;
	font-style: italic;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Box-shadow
@mixin card() {
	background: $color__white;
	box-shadow: 0px 2px 4px 0px transparentize($color__grey, 0.9);
	padding: $size__site-gutter/4;
}
