.archive, .blog, .search {
	article {
		@include col(4, 12, $gap: $size__site-gutter/2);
		padding-bottom: $size__site-gutter;

		&:nth-of-type(3n+1) {
			padding-left: 0;
		}

		&:nth-of-type(3n) {
			padding-right: 0;
		}

		.entry-wrapper {
			background: $color__white;
			box-shadow: 0px 2px 4px 0px transparentize($color__grey, 0.9);
			padding: $size__site-gutter/4;
		}

		.femfreq-feature-placeholder {
			height: 200px;
		}

		.entry-header {
			background: $color__pink;
			position: relative;
			min-height: 150px;
		}

		.entry-meta {
			background: $color__off-white;
			border-left: 2px solid $color__pink;
			color: $color__pink;
			padding: 5px 10px;
			position: absolute;
				top: 5px;
				left: -15px;

			a {
				color: $color__pink;
			}
		}

		.entry-title {
			font-family: $font__sans;
			@include font-size(2.7);
			font-weight: 500;
			letter-spacing: 0;
			line-height: 1.2;
			margin: $size__site-gutter/4;
			position: absolute;
				bottom: 0;
				left: 0;
			text-transform: none;

			a {
				color: $color__white;
			}
		}

		.entry-summary {
			@include font-size(1.8);
			font-style: normal;
			line-height: 1.4;
			margin: $size__site-gutter/4 0;

			p {
				margin: 0;
			}
		}
	}
}
