.archive, .blog, .search {
	article {
		@include col(4, 12, $gap: $size__site-gutter/2);
		padding-bottom: $size__site-gutter;

		&:nth-of-type(3n+1) {
			padding-left: 0;
		}

		&:nth-of-type(3n) {
			padding-right: 0;
		}

		.entry-wrapper {
			@include card();
		}

		.entry-header {
			background: $color__pink;
			position: relative;
			min-height: 200px;

			.femfreq-feature-placeholder {
				height: 200px;
			}

			img {
				filter: brightness(80%) contrast(120%);
				margin-bottom: -10px; // Don't know why this is needed, but whatever.
			}

			&::after {
				content: '';
				background-image: linear-gradient(-1deg, #5300B2 0%, #00D3C9 100%);
				display: block;
				opacity: 0.5;
				position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				z-index: 1;
			}
		}

		.entry-meta {
			background: $color__off-white;
			border-left: 2px solid $color__pink;
			color: $color__pink;
			padding: 0 $size__site-gutter/3;
			position: absolute;
				top: 5px;
				left: -15px;
			z-index: 2;

			a {
				color: $color__pink;
			}
		}

		.entry-title {
			font-family: $font__sans;
			@include font-size(2.7);
			font-weight: 500;
			letter-spacing: 0;
			line-height: 1.2;
			margin: $size__site-gutter/4;
			position: absolute;
				bottom: 0;
				left: 0;
			text-transform: none;
			z-index: 2;

			a {
				color: $color__white;
			}
		}

		.entry-summary {
			@include font-size(1.8);
			font-style: normal;
			line-height: 1.4;
			margin: $size__site-gutter/4 0;

			p {
				margin: 0;
			}
		}
	}
}
