/* Footer */
.site-footer {
	color: $color__off-white;

	.footer-widget-area {
		margin: 0 auto;
		max-width: $size__site-width;
	}

	.widget-area {
		@include col(4, 12);
	}

	.widget ul a {
		color: $color__off-white;

		&:hover {
			color: $color__white;
			background-color: transparentize($color__grey, 0.9);
		}
	}

	.site-info {
		color: $color__grey;
		font-family: $font__sans;
		@include font-size(1.1);
		letter-spacing: 1px;
		margin-top: $size__site-gutter/2;
		text-transform: uppercase;
		text-align: center;

		a {
			color: $color__pink-light;
			text-decoration: none;
		}
	}
}

/* Social menu */
#footer-1 .widget_nav_menu {
	border-top: 0;

	.widget-title {
		display: none;
	}
}

#menu-social-menu {
	li {
		display: inline-block;
	}

	a {
		background: $color__pink;
		border: 3px solid $color__pink-light;
		border-radius: 50%;
		display: inline-block;
		line-height: 1;
		margin-right: 4px;
		padding: 4px;
	}

	svg {
		fill: $color__pink-light;
		height: 30px;
		speak: none;
		transition: fill .1s ease-in 0;
		width: 30px;
	}

	a:hover {
		background: $color__pink-light;
		border-color: $color__purple;

		svg {
			fill: $color__purple;
		}
	}
}
