@include mobile {

}

@include tablet {
	#masthead {

	}

	.site-branding {
	}

	.custom-logo {
		max-width: 200px;
	}

	#site-navigation {


		.menu {
			padding: $size__site-gutter/2 0;
		}

		li {
			margin-right: $size__site-gutter/2;
		}
	}
}

/* Top-level nav */
.main-navigation {
	font-family: $font__sans;
	@include font-size(1.6);

		ul {
			display: none;
			list-style: none;
			margin: 0;
			padding-left: 0;

		li {
			display: inline-block;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}

		a {
			color: $color__light-grey;
			display: inline-block;
			padding-bottom: 5px;
			text-decoration: none;

			&::before {
				background: $color__light-grey;
				content: '';
				display: inline-block;
				height: 0.75em;
				margin-right: 0.25em;
				vertical-align: baseline;
				width: 0.75em;
			}
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__primary;
		}
	}
}

/* Sub-menu */
.main-navigation .children {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;

	ul {
		left: -999em;
		top: 0;
	}

	li {
		&:hover > ul,
		&.focus > ul {
			left: 100%;
		}
	}

	a {
		width: 200px;
	}

	:hover > a,
	.focus > a {
	}

	a:hover,
	a.focus {
	}
} // .children

li:hover > .children,
li.focus > .children {
	left: auto;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
