.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

/* Hide stuff only needed for microformats */
.byline,
.updated:not(.published){
	display: none;
}

/* Hide post sidebar on small screens */
@include desktop-max {
	#secondary {
		display: none;
	}
}

/* On desktop devices, we'll show a sidebar next to our content */
@include desktop {
	// Sidebar is only present on individual blog posts
	.single {
		.entry-content {
			@include col(8, 12, $last: true);
		}

		.widget-area {
			@include col(4, 12, $first: true);
		}
	}
}

/* Arrange post headers */
@include tablet {
	.single {
		.attachment-femfreq-feature {
			@include col(8, 12);
			margin: $size__site-gutter 0;
		}

		.entry-header {
			@include col(6, 12);
			background: $color__background-body;
			margin: $size__site-gutter*2 -17%;
			padding: 0 $size__site-gutter/2;
		}
	}
}

.entry-title,
.page-title {
	background: $color__pink-light;
	display: inline;
}

.entry-summary {
	color: $color__mid-grey;
	font-style: italic;
}

/* Author cards */
.author .avatar {
	border-radius: 50%;
}

@include mobile {
	.author {
		float: left;
		margin-right: $size__site-gutter/2;
		width: 25%;

		.author-name,
		.author-bio {
			display: none;
		}
	} // .author
} // mobile

@include tablet {
	.author {
		@include clearfix;
		border-bottom: 2px solid $color__tertiary;
		margin: $size__site-gutter/2 0;
		width: 100%;

		.avatar {
			float: left;
			margin: 0 $size__site-gutter/2 $size__site-gutter/2 0;
			width: 100px;
		}

		.author-name {
			clear: none;
		}

		.author-bio {
			color: $color__mid-grey;
			font-style: italic;
		}
	} // .author
} // tablet


.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
