.sticky {
	display: block;
}

/* Hide stuff only needed for microformats */
.byline,
.updated:not(.published){
	display: none;
}

/* Hide post sidebar on small screens */
@include desktop-max {
	#secondary {
		display: none;
	}
}

/* On desktop devices, we'll show a sidebar next to our content */
@include desktop {
	// Sidebar is only present on individual blog posts
	.single {
		.entry-content {
			@include col(8, 12, $last: true);
		}

		.widget-area {
			@include col(4, 12, $first: true);
		}
	}
}

/* Arrange post headers */
@include tablet {
	.single {
		.attachment-femfreq-feature,
		.femfreq-feature-placeholder {
			@include col(6, 12);
			margin: $size__site-gutter 0;
			padding-right: 0;
		}

		.femfreq-feature-placeholder {
			background: $color__off-white;
			height: 300px;
		}

		.entry-header {
			@include col(6, 12);
			margin: $size__site-gutter*2 0;
			padding-left: $size__site-gutter/2;
		}

		.entry-title,
		.page-title {
			margin-left: -$size__site-gutter;
		}
	}
}

.entry-meta {
	color: $color__grey;
	font-family: $font__sans;
	@include font-size(1.3);
	letter-spacing: 1px;
	margin-bottom: $size__site-gutter/4;
	text-transform: uppercase;

	a {
		color: $color__grey;
		text-decoration: none;

		&:hover {
			color: $color__mid-grey;
		}
	}

	span::after {
		display: inline-block;
		content: '\00b7';
		margin: 0 5px;
	}

	span:last-of-type::after {
		display: none;
	}
}
.entry-title,
.page-title {
	background: linear-gradient(to bottom, transparent 0, $color__pink-light 0);
	background-size: 100% 1.15em;
	background-position: 0 center;
	display: inline;
	background-repeat: no-repeat;
	box-decoration-break: clone;
	padding-left: 10px;
	padding-right: 10px;
}

.entry-summary {
	color: $color__grey;
	@include font-size(2.4);
	font-style: italic;
}

/* Author cards */
.author .avatar {
	border-radius: 50%;
}

@include mobile {
	.author {
		float: left;
		margin-right: $size__site-gutter/2;
		width: 25%;

		.author-name,
		.author-bio {
			display: none;
		}
	} // .author
} // mobile

@include tablet {
	.author {
		@include clearfix;
		border-top: 2px solid $color__off-white;
		margin: $size__site-gutter/2 0;
		padding-top: $size__site-gutter/2;
		width: 100%;

		.avatar {
			float: left;
			margin: 0 $size__site-gutter/2 $size__site-gutter/2 0;
			width: 100px;
		}

		.author-name {
			clear: none;
		}

		.author-bio {
			color: $color__mid-grey;
			font-style: italic;
		}
	} // .author
} // tablet


.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
