.site {
}

#masthead,
#colophon {
	background: $color__charcoal;
	padding: $size__site-gutter $size__site-gutter/4;
	position: relative;
	text-align: center;
	width: 100%;
}

#masthead::after,
#colophon::before {
	background: $color__background-body;
	left: 0;
	right: 0;
	width: 100%;
	height: $size__site-skew-height;
	position: absolute;
	transform: skewY($size__site-skew-deg);
}

#masthead {
	padding-bottom: calc(#{$size__site-skew-height} + #{$size__site-gutter}/2);

	&::after {
		bottom: -$size__site-skew-height/2;
	}
}

#colophon {
	padding-top: calc(#{$size__site-skew-height}/2 + #{$size__site-gutter}/2);


	&::before {
		top: -$size__site-skew-height/2;
	}
}

#masthead .site-branding,
#masthead #site-navigation,
#colophon .site-info,
#colophon .footer-widget-area {
	margin: 0 auto;
	max-width: $size__site-width;
}

.site-content {
	margin: 0 auto;
	max-width: $size__site-width;
	padding: $size__site-gutter / 4;
}
