/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

}

.entry-content :not(.sharedaddy) a:not([rel*="attachment"]) {
	border-bottom: 2px solid;
	position: relative;
	text-decoration: none;
	transition: color 400ms ease-in-out;

	&::before {
		border-bottom: 2px solid $color__link-hover;
		color: $color__link-hover;
		content: attr(data-hover);
		display: inline-block;
		height: 1.5em;
		overflow: hidden;
		padding: 0;
		position: absolute;
			top: -4px;
			left: 0;
		max-width: 0;
		transition: max-width 300ms ease-in-out;
	}

	&:hover {
		color: $color__background-body;
	}

	&:hover::before {
		max-width: 100%;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
